export RUST_LOG="debug"

export VULKAN_HOME=/var/mnt/Barracuda/Documents/projects/vulkan-learn/.sdk
export VULKAN_DOWNLOAD=$VULKAN_HOME/download/
export VK_LAYER_SETTINGS_PATH=$VULKAN_HOME/1.4.321.1/config/vk_layer_settings.txt

#export VK_INSTANCE_LAYERS=VK_LAYER_KHRONOS_validation:VK_LAYER_LUNARG_gfxreconstruct
